[Desktop Entry]
Version=1.0
Type=Application
Name=AbrirsoloYSF
Comment=
Exec=sh -c "cd /home/pi/PI-ADER/;sh ejecutar_solofusion.sh"
Icon=/home/pi/PI-ADER/ICO_SOLOFUSION_OFF.png
Path=/home/pi/PI-ADER
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir solo FUSION
