[Desktop Entry]
Version=1.0
Type=Application
Name=Editar solo FUSION
Comment=
Exec=sh -c "cd /home/pi/PI-ADER/qt; ./qt_editor_solofusion"
Icon=/home/pi/PI-ADER/ICO_EDITOR_BM.png
Path=/home/pi/MMDVMHost
Terminal=false
StartupNotify=false
Name[es_ES]=Editar solo FUSION
