[Desktop Entry]
Version=1.0
Type=Application
Name=Organizar Iconos
Exec=sh -c 'cd /home/pi/SYSTEM; xterm -geometry 59x4+653+136 -bg black -fg grey -fa ‘verdana’ -fs 16x -T ORGANIZANDO_ICONOS -e sh colocar_iconos.sh'
Comment=Organiza iconos
Icon=/home/pi/SYSTEM/ICO_ORGANIZAR_ICONOS.png
Path=/home/pi/SYSTEM
Terminal=false
StartupNotify=false
